aiogram==2.25.1
aiohttp
aiohttp-retry
aiosignal
async-timeout
attrs
Babel
beautifulsoup4
certifi
cffi
charset-normalizer
deep-translator
exceptiongroup
frozenlist
geographiclib
geopy
h11
haversine
idna
lxml
magic-filter
multidict
numpy
outcome
pandas
pycparser
PyJWT
PySocks
python-dateutil
pytz
requests
schedule
scipy
selenium
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
twilio
typing_extensions
tzdata
urllib3
websocket-client
wsproto
yarl
webdriver-manager
